#root {
  margin: 0 auto;
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: 50%;
}
.image {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("https://eg.hm.com/assets/styles/HNM/18255114/c4c446ac905572b1194fc4f7c451c12963afaddb/1/image-thumb__7257295__product_listing/c4c446ac905572b1194fc4f7c451c12963afaddb.jpg");
  background-repeat: no-repeat;
  background-color: #333;
  background-position: center;
  background-size: cover;
}



.image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  transition: opacity 0.3s ease;
}
.ad-address {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.ad-button {
  position: absolute;
  bottom: 70px;
  left:0;
  /* transform: translate(-50%, -50%); */
  color: #fff;
}